<!--In questo primo div inseriamo il titolo ed un immagine -->
<div id="up">
    <h1>LA TUA RUBRICA</h1>
    <img src="assets/rubrica-icona.png">

    <!-- Creazione di 3 bottoni con aggiunta di stati, e creazione di un messaggio di errore -->
    <div>
        <button (click)="inserisciContatto()" *ngIf="stato != 'CANC'">Inserisci contatto</button>
        <button (click)="recuperaContatti()" *ngIf="stato != 'VIS' && stato != 'CANC' && stato != 'AGG'">Recupera
            Contatti</button>
        <button (click)="svuotaRubrica()"
            *ngIf="rubricaVisualizzata.length > 0 && stato == 'VIS'">svuotarubrica</button>
        <p *ngIf="clientNotFound && stato=='VIS'">Nessun contatto recuperato! inseriscine qualuno</p>

    </div>

    <p *ngIf="emptyFields" class="campivuoti">Hai lasciato tutti i campi vuoti!</p>
    <p *ngIf="emptyNome" class="campivuoti">Non hai inserito il nome</p>
    <p *ngIf="emptyCognome" class="campivuoti">Non hai inserito il cognome</p>
    <p *ngIf="emptyTelefono" class="campivuoti">Non hai inserito il telefono</p>

    <!-- Con il cambio di stato da Start a Agg cambiamo shcermata e quindi inseriamo nuovi campi testo e bottoni -->
    <div *ngIf="stato == 'AGG'" class="inserimento">
        <input type="text" placeholder="Nome" [(ngModel)]="contatto.nome">
        <input type="text" placeholder="Cognome" [(ngModel)]="contatto.cognome">
        <input type="text" placeholder="Telefono" [(ngModel)]="contatto.telefono">
        <br>
        <button (click)="confermaAggiunta()">Conferma</button>
        <button (click)="annullaAggiunta()">Annulla</button>
    </div>

    <!--creazione tabella e incapsulamento dati-->
    <table *ngIf="rubricaVisualizzata.length > 0 && stato == 'VIS' || stato == 'CANC'">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Telefono</th>
            <th>Cancella</th>
        </tr>

        <tr *ngFor="let contatto of rubricaVisualizzata;index as i">
            <td>{{contatto.id}}</td>
            <td>{{contatto.nome}}</td>
            <td>{{contatto.cognome}}</td>
            <td>{{contatto.telefono}}</td>
            <td>
                <button (click)="cancellaContatto(i)" *ngIf="stato!='CANC' || pulsanteCanc[i]==false"
                    [disabled]="cancDisabled">X</button>
                <button (click)="confermaCancellaContatto(i)"
                    *ngIf="stato=='CANC' && pulsanteCanc[i]==true">Conferma</button>
                <button (click)="annullaCancella(i)" *ngIf="stato=='CANC' && pulsanteCanc[i]==true">Annulla</button>
            </td>
        </tr>

    </table>
</div>