<button (click)="inserisciContatto()">Inserisci contatto</button>
<br>
<button (click)="recuperaContatti()">Recupera Contatti</button>
<br>
<button (click)="svuotaRubrica()">svuota rubrica</button>

<br>

<input type="text" placeholder="Nome" [(ngModel)]="contatto.nome">
<input type="text" placeholder="Cognome" [(ngModel)]="contatto.cognome">
<input type="text" placeholder="Telefono" [(ngModel)]="contatto.telefono">


<table *ngIf="rubrica.length>0">
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Telefono</th>
        <th>Cancella</th>
    </tr>
    <tr *ngFor="let contatto of rubrica; index as i">
        <td>{{contatto.id}}</td>
        <td>{{contatto.nome}}</td>
        <td>{{contatto.cognome}}</td>
        <td>{{contatto.telefono}}</td>
        <td>
            <button (click)="cancellaContatto(i)">X</button>

        </td>
    </tr>
</table>